# Ignore all .log files in any directory
**/*.log

# Ignore compiled Python files
**/*.pyc
**/__pycache__/

# Ignore virtual environment
venv/
.env/

# Ignore distribution files
dist/
build/
output/

# Ignore all environment files in any directory
**/.env

# Ignore all files in input_folder and output_folder but keep the folders
tests/input_folder/*
tests/output_folder/*

# Don't ignore the folders themselves
!tests/input_folder/.gitkeep
!tests/output_folder/.gitkeep

# Ignore the api_processed_files folder completely
tests/input_folder/api_processed_files/