# Ignore all .log files in any directory
**/*.log

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore virtual environment
venv/
.env/

# Ignore distribution files
dist/
build/
output/

# Ignore all environment files in any directory
**/*.env